<div class="dashboard-item-3 rounded5 mbn mrl pln prn">
    <h3>Por Categoría</h3>
    <select name="category" size="1" class="for-category-dropdown">
        {% if categories|length > 0 %}
            {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == selected_category_id %} selected="selected" {% endif %}>
                    {{ category.name }}
                </option>
            {% endfor %}
        {% endif %}
    </select>
    <p><strong>Este mes:</strong> {{ category_stats.this_month | price('2', app.request.locale) }}</p>
    <p><strong>Promedio:</strong> {{ category_stats.average | price('2', app.request.locale) }}</p>
    <p><strong>Inflación</strong> (mensual): {{ inflation.monthly }}%</p>
    <p><strong>Inflación</strong> (trimestral): {{ inflation.quarterly }}%</p>
    <p><strong>Inflación</strong> (semestral): {{ inflation.biannually }}%</p>
    <p><strong>Inflación</strong> (anual): {{ inflation.annual }}%</p>
</div>

{% render "BackendBundle:Chart:byCategory" with { 'data': category_stats, 'start': start_chart_from } %}