{% extends '::layout.html.twig' %}

{% block body %}
    
    <h1 class="mbl">My Budget Dashboard</h1>

    <div class="shortcut mbn pbn">
        <strong>Atajos</strong>: &nbsp;
        <a href="{{ path('entry_new') }}" title="Agregar Movimiento">Agregar Movimiento</a>
    </div>

    <div class="dashboard-item-2 rounded5 mbn pln prn mrl">
    	<h3>Balance</h3>
    	<p>
    		<strong>Per&iacute;odo: </strong>
    		Desde el {{ since | localeDate('full', 'none', app.request.locale) }} al
    		{{ until | localeDate('full', 'none', app.request.locale) }}.
    	</p>
    	<p><strong>Saldo:</strong> <span class="highlight {{ balance_class }}">{{ balance | price('2', app.request.locale) }}</span></p>
    </div>

    <div class="dashboard-item-4 rounded5 pln prn mbn mrl">
        <h3>{{ today | localeDate('full', 'none', app.request.locale, 'MMMM Y') | capitalize }}</h3>
        <p><strong>Ingresos:</strong> <span class="positive">{{ ing.current | price('2', app.request.locale) }}</span></p>
        <p><strong>Gastos:</strong> <span class="negative">{{ out.current | price('2', app.request.locale) }}</span></p>
        <p>
            <strong>Objetivo:</strong> {{ targets[0].amount | price('0', app.request.locale) }}
            {% if targets[0].points is not null %}
                {% set qual = (targets[0].points > 0)? 'positive' : 'negative' %}
                <span class="{{ qual }}">({{ targets[0].points }})</span>
            {% else %}
                (N/A)
            {% endif %}
        </p>
    </div>

    <div class="dashboard-item-4 rounded5 pln prn mbn">
        <h3>{{ prevMonth | localeDate('full', 'none', app.request.locale, 'MMMM Y') | capitalize }}</h3>
        <p><strong>Ingresos:</strong> <span class="positive">{{ ing.previous | price('2', app.request.locale) }}</span></p>
        <p><strong>Gastos:</strong> <span class="negative">{{ out.previous | price('2', app.request.locale) }}</span></p>
        <p>
            <strong>Objetivo:</strong> {{ targets[1].amount | price('0', app.request.locale) }}
            {% if targets[1].points is not null %}
                {% set qual = (targets[1].points > 0)? 'positive' : 'negative' %}
                <span class="{{ qual }}">({{ targets[1].points }})</span>
            {% else %}
                (N/A)
            {% endif %}
        </p>
    </div>

    <div class="refresh-category">
        {% render "BackendBundle:Default:categoryStats" with { 'category_id': default_category, 'today': today } %}
    </div>

    {% render "BackendBundle:Chart:progression" with {} %}

    {% render "BackendBundle:Chart:targets" with {} %}

{% endblock %}