<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MyBudget{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/backend/css/style.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/backend/css/space.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/backend/jquery-ui-1.9.0/css/ui-lightness/jquery-ui-1.9.0.custom.min.css')}}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('js/jquery-1.8.3.min.js')}}"><\/script>')</script>
    </head>
    <body class="mtbl" data-controller="backend" data-action="backend">
        <!-- Header -->
        <header class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    {% set current_route = app.request.attributes.get('_route') %}
                    <a class="brand {% if(current_route == 'homepage') %}active{% endif %}" href="{{ path('homepage') }}">My Budget</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <nav class="nav-collapse collapse">
                            <ul class="nav">
                                <li {% if(current_route == 'category') %}class="active"{% endif %}><a href="{{ path('category_list') }}">Categor&iacute;as</a></li>
                                <li {% if(current_route == 'entry') %}class="active"{% endif %}><a href="{{ path('entry_list') }}">Movimientos</a></li>
                                <li {% if(current_route == 'target') %}class="active"{% endif %}><a href="{{ path('target_list') }}">Objetivos mensuales</a></li>
                                <li><a href="{{ path('logout') }}">Cerrar Sesi&oacute;n</a></li>
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </header>
        
        {% include '::messages.html.twig' %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <footer>
            <p class="txtc muted">&copy; MyBudget</p>
        </footer>
        
        {% include '::javascript.html.twig' %}
    </body>
</html>
