{% extends '::layout.html.twig' %}

{% block body %}
    <h1 class="mtn mbm">Categor&iacute;a "{{ entity.name }}"</h1>

    <table class="record_properties table table-striped table-bordered">
        <tbody>
            <tr>
                <th class="w20">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th class="w20">Padre</th>
                <td>{{ entity.parent }}</td>
            </tr>
            <tr>
                <th class="w20">Nombre</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th class="w20">Descripci&oacute;n</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a class="mrl" href="{{ path('category') }}" title="Volver"><i class="icon-chevron-left"></i>Volver al listado</a>
        <a class="mrl" href="{{ path('category_edit', { 'id': entity.id }) }}" title="Editar"><i class="icon-pencil"></i> Editar</a>
        <a class="btn btn-danger delete-confirmation" href="{{ path('category_delete', { 'id': entity.id }) }}" title="Borrar">Borrar</a>
    </p>
{% endblock %}